*{
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: rgb(221, 221, 221);
}

#grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "header header header" "main main main";
}

header{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

header p{
    display: flex;
    justify-content: center;
    font-size: 20px;
}

main{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

main section h1{
    font-size: 25px;
    margin: 10px 10px 10px 20px;
}

main section h2{
    font-size: 25px;
    margin: 10px 10px 10px 20px;
}

main section h3{
    font-size: 25px;
    margin: 10px 10px 10px 20px;
}

main section a{
    margin: 20px;
}

#oblig1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bilde1{
    width: 100%;
    scale: 0.9;
}

#bilde2{
    width: 100%;
    scale: 0.9;
}

#bilde3{
    width: 100%;
    scale: 0.9;
}

#oblig2{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bilde4{
    width: 100%;
    scale: 0.9;
}

#bilde5{
    width: 100%;
    scale: 0.9;
}

#bilde6{
    width: 100%;
    scale: 0.9;
}

#bilde7{
    width: 100%;
    scale: 0.9;
}

#bilde8{
    width: 100%;
    scale: 0.9;
}

#bilde9{
    width: 100%;
    scale: 0.9;
}

#bilde10{
    width: 100%;
    scale: 0.9;
}

#oblig3{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bilde11{
    width: 100%;
    scale: 0.9;
}

#bilde12{
    width: 100%;
    scale: 0.9;
}

#bilde13{
    width: 100%;
    scale: 0.9;
}

#bilde14{
    width: 100%;
    scale: 0.9;
}

#bilde15{
    width: 100%;
    scale: 0.9;
}

#bilde16{
    width: 100%;
    scale: 0.9;
}

#bilde17{
    width: 100%;
    scale: 0.9;
}



